
form,.error{
    font-family: calibri;
    font-size: 18px;
}
.error{
  color:red;
    font-weight: bold;
}
.info{
border: simple;
color: RGB(181,0,66);
}
form{
position: relative;
top:200px;
}
